/docs/
/lib/
/bin/
/build/
/.shards/
*.dwarf

# pi AI agent specfic project settings, context, skills, extensions
.pi/

# Gemini CLI AI agent specfic project settings, context, skills, extensions
.gemini/
/GEMINI.md

# AI info, but doesn't need to be committed (too annoying when refining tickets)
/GAME_CONTEXT.md

# macOS specific ignores
.DS_Store
