/docs/
/lib/
/bin/
/build/
/.shards/
*.dwarf

# pi AI agent specfic project settings, context, skills, extensions
.pi/

# Gemini CLI AI agent specfic project settings, context, skills, extensions
.gemini/
/GEMINI.md

# macOS specific ignores
.DS_Store
